@font-face {
  font-family: Roboto;
  src: url("../../public/fonts/RobotoMono-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: Playfair;
  src: url("../../public/fonts/Playfair.ttf") format("truetype");
}

@font-face {
  font-family: SpaceGrotesk;
  src: url("../../public/fonts/SpaceGrotesk.ttf") format("truetype");
}
